body{
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
}

header, footer {
    width: 100%;
    border: 1px solid #CCCCCC;
}

footer {
    text-align: center;
    height: 60px;
    position: fixed;
    bottom: 0;


}


footer span {
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;

.logo {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
